﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Güven Bank</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="baslik">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                    @Html.ActionLink("Güven Bank", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                </div>
                <div class="ayrac" style="float:left;font-size:34px;color:white;">|</div>
                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Ansayfa", "Index", "Home")</li>
                        <li>@Html.ActionLink("Ticari", "About", "Home")</li>
                        <li>@Html.ActionLink("Kobi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Bireysel", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Hakkımızda", "Contact", "Home")</li>
                    </ul>

                    <div class="aramaKutusu" style="float:left;margin-top:10px;margin-left:30px;"><input value="Arama Yapın" type="text" /></div>
                    <ul class="nav navbar-nav" style="float:right;">
                        <li>@Html.ActionLink("İnternet Şubesine Giriş", "Index", "Home")</li>

                    </ul>
                    @* @Html.Partial("_LoginPartial") *@
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="float:left;">
                &copy; T.C Güven Bank A.Ş @DateTime.Now.Year
                <div class="altmenu">
                    <ul>
                        <li><a href="#">Yasal Uyarı</a>&nbsp;|&nbsp;</li>
                        <li><a href="#"> Güvenlik</a>&nbsp;|&nbsp; </li>
                        <li><a href="#"> Gizlilik Politikamız</a>&nbsp;|&nbsp;</li>
                        <li><a href="#"> Bilgi Toplumu Hizmeti</a></li>

                    </ul>
                </div>


            </p>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
